body {
    color: blue ;
}

#title {
    color : tomato ;
    font-weight: 900;
    font-size: xx-large;
    text-shadow: 10px 10px 15px grey;
    text-decoration:underline darkgrey;
}


#dot {
    color: black;
}

#js {
    color: skyblue;
    font-style: italic;
}

header img {
    height: 32px ; 
}

header {
    display: flex;
    justify-content: space-between;
}

header a {
    display: flex;
    flex-direction: column;
}

footer {
    position: absolute;
    bottom:  0;
    left: 0;
    right:0;
    text-align: center;
    font-size: x-small;
    font-style: oblique;
}


main {
    height: calc(100vh - 125px);
    overflow-y: auto ;

}

main>* {
    height: 100%;
    overflow-y: auto;
}

@media print {

    footer {
        display: none;
    }
}